<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionContenedores.Properties.Settings.contenedorDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=contenedorDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="GestionContenedores.Properties.Settings.contenedorDBConnectionString1"
            connectionString="Data Source=DESKTOP-O13P0GC;Initial Catalog=contenedorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestionContenedores.Properties.Settings.contenedorDBConnectionString2"
            connectionString="Data Source=basurerosinteligentes.database.windows.net;Initial Catalog=contenedorDB;User ID=adminBasureros;Password=Basura1234;"
            providerName="System.Data.SqlClient" />
        <add name="GestionContenedores.Properties.Settings.BasurerosInteligentesDBConnectionString"
            connectionString="Data Source=basurerosinteligentes.database.windows.net;Initial Catalog=BasurerosInteligentesDB;Persist Security Info=True;User ID=adminBasureros;Password=Basura1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>